<section>
  <h1>I'm in the Servers Component</h1>
  <label>Server name is: {{ serverName }}</label>
  <input type="text" class="form-control" (input)="onUpdateServerName($event)" />
  <button [disabled]="getDisabled()" class="btn btn-primary mt-3" (click)="onCreateServer()">
    Add Server
  </button>
  <!-- <p>{{ serverCreationStatus }}</p> -->
  <p *ngIf="serverCreated" class="serverstatus">
    Server was created! Server name is {{ serverName }}
  </p>
  <app-server *ngFor="let server of servers"></app-server>
</section>